<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
    <div class="logo">
        <img src="https://open.cruip.com/static/media/logo.2810a88b.svg" width="32" height="32" alt="">
    </div>
        <ul>
            <li><a class="word1" href="#">Decumentation</a></li>
            <li><a class="word2" href="#"><button class="btn">Sign up</button></a></li>
        </ul>
    </nav>

    <div class="text">
        <p class="text1">Landing template for
             <span class="text2"> startups</span>
        </p>

    </div>
    
    <div class="text-end">
        <p class="txtend">
            Our landing page template works on all devices, so you only have <br> <span class="txtend-2">to set it up once, and get beautiful results forever.
            </span>
        </p>
    </div>

    <div class="buttons">
        <button class="btn-1">Get Started</button>
        <button class="btn-2"><a href="https://github.com/" target="_blank">View on Github</a></button>
    </div>

    <div class="img">
        <img src="https://open.cruip.com/static/media/video-placeholder.a622fc5d.jpg" width="896" height="504" alt="">
    </div>

    <div class="text-2">
        <p class="text-2-1">Build up the whole picture</p>
        <br>
        <p class="text-2-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum — semper quis lectus <br> <p class="text-2-3">nulla at volutpat diam ut venenatis.</p></p>
    </div>

    <div class="text-cards">
        <div>
            <img class="card-img" src="https://open.cruip.com/static/media/feature-tile-icon-01.0f9928d7.svg" width="64" height="64"  alt="">
        <p class="card-1">Robust Workflow</p>
        <p class="card1">Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore <br> eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat.</p>
    </div>
    <div class="row1">
        <img class="card-img" src="https://open.cruip.com/static/media/feature-tile-icon-02.bd39f304.svg" width="64" height="64" alt="">
        <p class="card-1">Robust Workflow</p>
        <p class="card1">Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore <br> eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat.</p>
    </div>
    <div class="row1">
        <img class="card-img" src="https://open.cruip.com/static/media/feature-tile-icon-03.66f37ba5.svg" width="64" height="64" alt="">
        <p class="card-1">Robust Workflow</p>
        <p class="card1">Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore <br> eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat.</p>
    </div>
    <div class="row1">
        <img class="card-img" src="https://open.cruip.com/static/media/feature-tile-icon-05.fa9ba00b.svg" width="64" height="64" alt="">
        <p class="card-1">Robust Workflow</p>
        <p class="card1">Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore <br> eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat.</p>
    </div>
    </div>
    <div class="container">
    <div class="text-2">
        <p class="text-2-1">Workflow that just works</p>
        <br>
        <p class="text-2-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum — semper quis lectus <br> <p class="text-2-3">nulla at volutpat diam ut venenatis.</p></p>
    </div>
     <div class="img-texts">
        <div class="img-text">
            <p class="img-text-1">LIGHTNING FAST WORKFLOW</p>
            <p class="img-text-2">Data-driven insights</p>
            <p class="img-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua — Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <img class="img-no2" src="https://open.cruip.com/static/media/features-split-image-01.d9cb99ce.png" width="528" height="369" alt="">
    </div> 
    <div class="img-texts-1">
    <div class="img2-text">  
            <p class="img1-text-1">LIGHTNING FAST WORKFLOW</p>
            <p class="img2-text-2">Data-driven insights</p>
            <p class="img3-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua — Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
        </div>
            <img class="img-no3" src="https://open.cruip.com/static/media/features-split-image-02.3c569239.png" width="528" height="369" alt=""> 
    </div>

    <div class="img-texts-2">
        <div class="img3-text">  
                <p class="img-1-text-1">LIGHTNING FAST WORKFLOW</p>
                <p class="img-2-text-2">Data-driven insights</p>
                <p class="img-3-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua — Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
            </div>
                <img class="img-no4" src="https://open.cruip.com/static/media/features-split-image-03.87e4d053.png" width="528" height="369" alt=""> 
        </div>
    
</div>
</body>
</html>