<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
    <ul>
        <li class="navbar">BİLET SATIŞI</li>
        <li class="navbar">ŞƏXSİ KABİNET</li>
        <li class="navbar">İSTİFADƏ QAYDALARI</li>
        <li class="navbar">HƏRƏKƏT CƏDVƏLİ</li>
        <li class="navbar">MƏLUMAT</li>
    </ul>
</nav>   
</body>
</html>