<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST">
<div class="container">
    <div class="title"></div>
    <label class="label">Contact</label>
        <div class="inputs">
        <label>First Name</label>
        <input placeholder="First Name" type="text" required>
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" required>
        <label>Email</label>
        <input placeholder="example@test.com" type="email" name="email" required>
        <label>Message</label>
        <input placeholder="Enter Message" type="text" required>
       <div class="btn">
        <button class="btn-1" type="submit"><a href="Send.html">SEND</a></button>
    </div>
        </div>
</div> 
</form>

</body>
</html> 

